# 1. Python Environment
venv/
env/
.env
bin/
lib/
develop-eggs/
dist/
eggs/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# 2. Virtual Machine / IDE
.vscode/
.idea/
.DS_Store
*.swp

# 3. Python Cache
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/


# 6. Notebooks
.ipynb_checkpoints/